/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8fafc;
  color: #333;
  padding: 40px;
}

.client-table tbody tr {
  transition: background 0.2s, box-shadow 0.2s, transform 0.1s;
}

.client-table tbody tr:hover {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1.02);
    z-index: 2;
    position: relative;
}

/* ===== CONTAINER PRINCIPAL ===== */
.crm-container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  padding: 20px 30px;
  max-width: 1100px;
  margin: 0 auto;
}

/* ===== CABEÇALHO ===== */
.crm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.crm-header h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.search-input {
  padding: 8px 12px;
  margin-left: 25rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  width: 300px;
  outline: none;
  transition: border 0.2s;
}

.search-input:focus {
  border-color: #3b82f6;
}

.clients-filter-dropdown {
    margin-left: 18rem;
}

.btn-new-contact {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
}

.btn-new-contact:hover {
  background: #2563eb;
  transform: scale(1.2);
}

.btn-synchronize {
  background: green;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
}

.btn-synchronize:hover {
  background: #035b03;
  transform: scale(1.2);
}


/* ===== TABELA ===== */
.client-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.client-table thead {
  background: #f1f5f9;
  text-align: left;
}

.client-table th, .client-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #e5e7eb;
}

.client-table th {
  color: #475569;
  font-weight: 600;
}


/* ===== CLIENTE ===== */
.client-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.client-info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/* ===== STATUS ===== */
.status {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: 500;
}

.status.active {
  background: #dcfce7;
  color: #15803d;
}

.status.pending {
  background: #fef9c3;
  color: #854d0e;
}

.status.inactive {
  background: #fee2e2;
  color: #991b1b;
}

/* ===== AÇÕES ===== */
.actions button {
  cursor: pointer;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: white;
  padding: 7px 10px;
  margin-right: 9px;
  transition: transform 0.2s;
  transform: scale(0.8);
}

.edit-contact {
    background-color: #2f5da9;
    border: none;
}

.exclude-contact {
    background-color: #e63f3f;
    border: none;
}

.actions button:hover {
  transform: scale(1);
}

/* ===== Input Cliente ===== */
.autocomplete-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: 8rem;
    margin-bottom: 1rem;
}

.input-client-dropdown {
    position: absolute;
    margin-left: 25rem;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top: none;
    max-width: 300px;
    background-color: white;
    width: 100%;
    overflow-y: none;
    z-index: 1000;
    display: none;
    transition: all 0.2s ease;
}

.input-client-dropdown ul {
    list-style-type: none;
    cursor: default;
    margin: 0;
    padding: 0;
}

.input-client-dropdown li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
    transition: all 0.3s ease;
}

.input-client-dropdown li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #f0f8ff;
    border-color: #b0d4f1;
    border-radius: 12px;
    z-index: 1;
    position: relative;
}

.input-client-actions {
    display: flex;
    gap: 5px;
}

.input-client-dropdown button {
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.7rem;
    transition: all 0.2s ease;
}

.input-client-dropdown button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.input-client-button-chat {
    border-color: #1ca23a;
    background-color: #1ca23a;
    color:  #fff;
}

.input-client-button--edit {
    border-color: #2196F3;
    background-color: #2196F3;
    color:  #fff;
}

.input-client-button--delete {
    border-color: #f44336;
    background-color: #f44336;
    color:  #fff;
}

/* ===== Pagination Cliente ===== */
.pagination-clients{
    display: flex;
    margin-left: 3%;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.pagination-clients button{
    border-radius: 15px;
    width: 35px;
    height: 35px;
    border: none;
    line-height: 100%;
    padding: 0.5rem;
    background-color: none;
    transition: all 0.2s ease;
}

.pagination-clients button:hover{
    cursor: pointer;
    height: 35px;
    border: none;
    color: #fff;
    background-color: #7fabf3;
    transform: scale(1.2);
    box-shadow: 4px 4px 3px rgba(0,0,0,0.5);
}

.pagination-button.active,
.pagination-last-button.active{
    background-color: #3B82F6;
    height: 35px;
    border: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    transform: scale(1.1);
}
