@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
:root {
    --bg-primary: #0d0d0d;
    --bg-secondary: #1a1a1a;
    --color-accent: #0E90D9;
    --color-accent-hover: #f39c12;
    --text-primary: #242D3B;
    --text-secondary: #4B5563;
    --glass-bg: #ffffff;
    --glass-border: rgba(255, 255, 255, 0.1);
    --border-color: #1F2937;
    --text-light: #e0e0e0;
}

.side-menu, .top-bar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
    background: #F3F4F6;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* --- Container principal --- */
.main-wraper {
    display: flex;
    flex: 1;
    height: calc(100vh - 70px);
}

.content {
    flex: 1;
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 50px #acb3c4;
    border: 1px solid #f1f1f1;
    padding: 2rem;
    overflow-y: none;

}

/* --- Search Bar --- */
.search-bar {
  display: flex;
  width: 10%;
  max-width: 500px;
  height: 40px;
  padding: 0.75rem 1rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid #ddd;
  transition: all 0.8s ease-in;
}

.search-bar:hover {
  border-color: var(--text-secondary);
  width: 100%;
}

.search-bar:focus-within {
  border-color: var(--text-secondary);
  width: 100%;
}

.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  color: var(--text-primary, #fff);
  font-size: 0.95rem;
  font-family: 'Space Grotesk', sans-serif;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

/* --- Barra Superior --- */
.top-bar {
    background-color: var(--glass-bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /*border-bottom: 1px solid var(--border-color);*/
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
    box-shadow: 4px 4px 10px #acb3c4;
    border-radius: 20px;
}


/* --- Logo --- */
.app {
    display: flex;
    align-items: center;
}

.app-icon {
    width: 48px;
    height: 48px;
    background: url('https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/agregarr.svg') no-repeat center / contain;
    border-radius: 12px;
    background-color: rgba(241,196,15,0.1);
    margin-left: 5px;
    margin-right: 15px;
}

.app-name {
    font-size: 21px;
    font-weight: bold;
}


/* --- Informações do usuário --- */
.user-dropdown {
    position: relative;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #fff;
    transition: all 0.2s ease;
}

.user-info:hover {
    background-color: #f1f1f1;
}

.user-info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.75rem;
}

.user-name {
    font-weight: 600;
    font-size: 1rem;
    color: var(--text-primary);
}

.user-role {
    font-size: 0.8rem;
    color: var(--text-secondary);
    font-weight: 400;
    text-transform: capitalize;
}

.dropdown-arrow {
    color: var(--text-secondary);
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.1rem;
    background-color: var(--glass-bg);
    backdrop-filter: blur(15px);
    border: 1px solid var(--glass-border);
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
}

.dropdown-menu ul {
    list-style: none;
    margin-left: -35px;
}

.dropdown-menu li a {
    display: block;
    padding: 1rem 1rem;
    margin-left: 2.5rem;
    color: var(--text-secondary);
    width: 250px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
}

.dropdown-menu li a:hover {
    color: var(--text-primary);
    background-color: #f1f1f1;
    margin-right: 5px;
    padding: 1rem 2rem;
}

.dropdown-menu li:first-child a {
    border-radius: 12px 12px 0 0;
}

.dropdown-menu li:last-child a {
    border-radius: 0 0 12px 12px;
}

.user-dropdown.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(10);
}

.user-dropdown.active .dropdown-arrow {
    transform: rotate(180deg);
}

/* --- Menu Lateral (Navegação) --- */
.side-menu {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 1rem;
    width: 250px;
    height: 55vh;
    background: #F2F4F5;
    backdrop-filter: blur(12px);
    overflow: hidden;
    padding: 1rem 1rem;
    border: 0.5px thin #9D9FA0;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #acb3c4;
}

.side-name {
    position: relative;
    margin-bottom: 10px;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    color: #9D9FA0;
}

.side-menu ul {
    list-style: none;
    margin-top: 1rem;
    margin: 0;
    padding: 0;
}

.side-menu li a {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #9D9FA0;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 1.25rem;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    transition: all 0.2s ease;
}

.side-menu li a.active {
    background-color: #0E90D9;
    color: #fff;
    padding: 1.2rem 1.25rem;
}

.side-menu li a:hover {
    background-color: #E4E5E9;
    padding: 1rem;
    font-weight: bolder;
    color: #22252A;
}

/* Modal de Erro */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
}

.modal-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    position: relative; /* Necessário para posicionar o botão de fechar */
    max-width: 400px;
    width: 90%;
    z-index: 1200;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-modal-btn {
    position: absolute;
    top: 1px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    font-size: 28px;
    color: #aaa;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-modal-btn:hover {
    color: #fff;
}

.modal-icon {
    font-size: 48px;
    margin-bottom: 1rem;
}

.modal-message p,
.modal-title p{
    margin: 0;
    margin-bottom: 0.5rem;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}
/* Modal de Erro */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    position: relative; /* Necessário para posicionar o botão de fechar */
    max-width: 400px;
    width: 90%;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-modal-btn {
    position: absolute;
    top: 1px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    font-size: 28px;
    color: #aaa;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-modal-btn:hover {
    color: #fff;
}

.modal-icon {
    font-size: 48px;
    margin-bottom: 1rem;
}

.modal-message p,
.modal-title p{
    margin: 0;
    margin-bottom: 0.5rem;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

.error-buttons{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 2rem;
}

.error-buttons button {
    cursor: pointer;
    width: 80px;
    padding: 5px 0;
    border-radius: 10px;
    border: none;
    color: #fff;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.error-buttons button:hover{
    transform: scale(1.4);
}

.btn-confirm-exclude {
    background-color: #2F5DA9;
    font-weight: bold;
}

.btn-cancel-exclude {
    background-color: #E63F3F;
    font-weight: bold;
}
