# --- Variáveis do PostgreSQL ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=agenda # Não alterar o nome do Banco
POSTGRES_PORT=5432

# --- Variáveis das APIs ---
PYTHON_API_PORT=8585
GO_API_PORT=8181

# --- Variáveis das aplicações ---
POSTGRES_URL=postgresql://postgres:123456@db-agendapro:5432/agenda
JWT_KEY=123456
