/* 1. Defina a animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal-cliente:modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 16px;
    border: none;
    max-width: 550px;
    max-height: 90vh;
    width: 90%;
    padding: 2rem;
    box-sizing: border-box;
    z-index: 1000;
    animation: fadeIn 0.3s ease-out forwards;
}

.modal-cliente::backdrop {
    background: rgba(0, 0, 0, 0.1);
    animation: fadeInBackdrop 0.3s ease-out forwards;
}

@keyframes fadeInBackdrop {
  to {
    background:  rgba(0, 0, 0, 0.8) }
}

.modal-header {
    color: #1582bd;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.modal-title {
    font-weight: bolder;
    margin-left: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #1582bd;
    text-align: center;
}

.modal-body {
    padding: 25px;
    color: white;
}

.form-row {
    display: flex;
    gap: 50px;
    margin: 20px 10px;
}

.form-group label {
    display: block;
    color: #1582bd;
    font-weight: 600;
}

.form-group input,
.form-group select {
    width: 100%;
    height: 35px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 12px;
    transition: all 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    border: none;
}

.form-group input:hover{
    transform: scale(1.05);
    }

.button button {
    border: 1px solid #CCCCCC;
    border-radius: 20px;
    color: #fff;
    width: 100px;
    height: 50px;
    margin-top: 1rem;
    margin-left: 6rem;
    margin-right: -40px;
    transition: all 0.3s ease;
}

.btn-register {
    background-color: #1582bd;
    font-weight: bold;
}

.btn-register:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.btn-exit {
    background-color: #af4343;
    font-weight: bold;
}

.btn-exit:hover {
    transform: scale(1.15);
    font-size: 15px;
    cursor: pointer;
}

.fa-users {
    align-self: center;
    color: #1582bd;
}

